@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/komika-axis');
/* Animation */

.butterfly-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: black;
    filter: drop-shadow(0 100px 10px rgba(0, 0, 0, .3));}

.wrap {
    margin-top: 10%;
    margin-left: 10%;
    height: 1vw;
    position: absolute;
    transform: rotateX(-120deg) rotateZ(240deg);
    transform-style: preserve-3d;}

.wrap div {
    transform-style: preserve-3d;}

.body {
    position: absolute;
    height: 1vw;
    width: 0.1vw;
    background: rgba(51, 51, 51, .6);
    border-radius: 100%;
    transform: rotateY(100deg) rotateX(30deg)}

.left-wing {
    left: 0vw;
    position: absolute;
    height: 2vw;
    transform-origin: 0 40%;
    --deg: -80deg; 
    --deg2: 30deg;
    --tranx: 0.15vw;
    animation: fly .4s infinite cubic-bezier(.48, .01, .54, 1);}

@keyframes fly {
    
    0%, 100% {
        transform: rotateX(30deg) translateZ(var(--tranx)) rotateY(var(--deg))
    }

    50% {
        transform: rotateX(30deg) translateZ(var(--tranx)) rotateY(var(--deg2))
    }}

.left-wing::after {
    content: "";
    position: absolute;
    transform-origin: 100% 50%;
    right: 0.03vw;
    height: 0.7vw;
    width: 1.2vw;
    background: rgba(197, 24, 24, 0.5);
    top: .2vw;
    border-radius: 100%;
    transform: rotateZ(30deg);}

.left-wing::before {
    content: "";
    position: absolute;
    right: 0.03vw;
    height: 0.4vw;
    width: .8vw;
    transform-origin: 100% 50%;
    background: rgba(197, 24, 24, 0.5);
    top: .2vw;
    border-radius: 100%;
    transform: rotateZ(-30deg);}

.right-wing {
    left: .2vw;
    position: absolute;
    height: 1vw;
    transform-origin: 100% 50%;
    --deg: 80deg; 
    --deg2: -30deg;
    --tranx: -0.15vw;
    animation: fly .4s infinite cubic-bezier(.48, .01, .54, 1);}

.right-wing::after {
    content: '';
    position: absolute;
    left:0.03vw;
    height: .7vw;
    width: 1.2vw;
    transform-origin: 0% 50%;
    background: rgba(197, 24, 24, 0.5);
    top: .2vw;
    border-radius: 100%;
    transform: rotateZ(-30deg);}

.right-wing::before {
    content: "";
    position: absolute;
    left: 0.03vw;
    height: .4vw;
    width: .8vw;
    transform-origin: 0% 50%;
    background: rgba(197, 24, 24, 0.5);
    top: .2vw;
    border-radius: 100%;
    transform: rotateZ(30deg);}

.introPortrait {
    height: fit-content;
    bottom: 10vh;
    flex-direction: column;
    justify-content: space-between;}

.introLandscape {
    flex-direction: row;
    align-items: center;}

.introContentPortrait {
    width: 95vw;
    height: 95vw;}

#introContentPortrait {
    height: fit-content;}

.introContentLandscape {
    width: 47.5vw;
    height: 47.5vw;}

.introContentLandscape h1 {
    font-size: 70px;
    font-family: 'Komika Axis', sans-serif;}

.introContentPortrait h1 {
    font-size: 65px;
    font-family: 'Komika Axis', sans-serif;}

.content-borobudur-potrait {
    background-color: white;
    overflow-x: hidden;
    width: 100%;
    position: absolute;
    top: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;}

.borobudurInNumbersContainer {
    width: 100vw;}

.borobudur-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;}

.borobudur-content-container {
    position: relative;
    width: 50vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
    padding-top: 1vw;}

.numbers {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;}
    
#numbers {
    font-family: 'jetBrains Mono';
    position: relative;
    color: #3f424f;
    background-color: white;
    margin-top: -20px;
    padding: 0px 15px;
    height: 40px;
    width: fit-content;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
    justify-self: center;
    overflow-y: hidden;}

.line {
    position: relative;
    width: 100%;
    height: 10px;
    border-bottom: 2px solid #363636;
    align-self: flex-end;}

.image {
    width: 50vw;}

.description {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

.description p {
    width: 80%;
    height: fit-content;
    text-align: center;
    color: #51827a;
    font-family: 'JetBrains Mono', monospace;
    font-size: 22px;}

.places, .digits{
    color: #3f424f;}

.coverPlaces {
    color: #51827a;;}


@media only screen and (max-width: 990px) {

    .introPortrait {
        height: fit-content;
        align-items: center;}

    .introContentPortrait {
        width: 75vw;
        height: 75vw;}

    .introContentLandscape h1 {
        font-size: 60px;}
    
    .introContentPortrait h1 {
        font-size: 60px;}

    .wrap {
        height: 2vw;}
    
    .body {
        height: 2vw;
        width: .2vw;}
    
    .left-wing {
        height: 4vw;
        --tranx: 0.3vw;}
    
    .left-wing::after {
        right: 0.06vw;
        height: 1.4vw;
        width: 2.4vw;
        top: 0.4vw;}
    
    .left-wing::before {
        right: 0.06vw;
        height: .8vw;
        width: 1.6vw;
        top: .4vw;;}
    
    .right-wing {
        left: .4vw;
        height: 2vw;
        --tranx: -0.3vw;}
    
    .right-wing::after {
        left:0.06vw;
        height: 1.4vw;
        width: 2.4vw;
        top: 0.4vw;}
    
    .right-wing::before {
        left: 0.06vw;
        height: 0.8vw;
        width: 1.6vw;
        top: .4vw;}

    .borobudur-container {
        width: 100vw;}

    .borobudur-content-container {
        width: 100vw;}

    .numbers {
        width: 95%;;}
        
    #numbers {
        padding: 0px 8px;
        height: 38px;
        margin-top: -19px;
        font-size: 30px;}
    
    .line {
        width: 100%;
        height: 10px;}
    
    .image {
        width: 100%;}
    
    .description {
        width: 100%;
        height: fit-content;}
    
    .description p {
        width: 85%;}
    
    .description p {
            font-size: 26px;}}

    @media only screen and (max-width: 700px) {

        .introContentLandscape h1 {
            font-size: 45px;}
                
        .introContentPortrait h1 {
            font-size: 50px;}}
    
    @media only screen and (max-width: 600px) {

        .introPortrait {
            height: calc(50vw + 95vw);}

        #introContentPortrait {
            height: 50vw;}

        .introContentPortrait {
            width: 95vw;
            height: 95vw;}

        .introContentLandscape h1 {
            font-size: 30px;}
        
        .introContentPortrait h1 {
            font-size: 50px;}

        .content-borobudur-potrait {
            background-color: white;
            padding-bottom: 5vh;}

        .line {
            width: 100%;
            height: 10px;}

        #numbers {
            padding: 0px 8px;
            height: 30px;
            margin-bottom: -15px;
            font-size: 25px;}

        .description p {
            font-size: 14px;}}
    
    @media only screen and (max-width: 376px) {

        .introContentLandscape h1 {
            font-size: 45px;}
        
        .introContentPortrait h1 {
            font-size: 42px;}
        
        .line {
            width: 100%;
            height: 12.5px;}

        #numbers {
            padding: 0px 8px;
            height: 25px;
            margin-top: -12.5px;
            font-size: 20px;}

        .description p {
            font-size: 12px;}}
    
    @media only screen and (max-width: 330px) {
        
        .introContentPortrait h1 {
            font-size: 32px;}}

    @media screen and (max-width: 330px), screen and (max-height: 481px) {
       
                .introPortrait {
                    bottom: 5vh;}}

