@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Main Page */

    .landscapeStoryWrapper p, .storyWrapper p, .landscapeModalTitle h1, .modalTitle h1, .litografiAuthor h1, .litografiTitle p, .bioDescription h1, .bioDescription h2, .bioDescription p, .authorName,  .authorNickName h1, .activeYear, .landscapeBioDescription h1, .landscapeBioDescription h2, .landscapeBioDescription p, .landscapeBioProfile p  {
    font-family: 'Arimo', sans-serif;
    margin: 0;}

    .scrollTopButton {
        width: 10vw;
        height: 10vw;
        bottom: 2vh;
        animation: displayButton .3s ease-in forwards;}

    .landscapeScrollTopButton {
        width: 4vw;
        height: 4vw;
        bottom: 1vh;
        animation: displayButton .3s ease-in forwards;}

    @keyframes displayButton {
        0% {
            opacity: 0;
            scale: 0;}
        100% {
            opacity: 1;
            scale: 1;}}

    .story {
        top: 10vh;
        padding: 10px 0 20px 0;}

    .landscapeStory {
        top: 12vh;
        padding: 10px 0;}

    .storyTest, .landscapeStoryTest {
        position: relative;
        border: 1px solid black;
        background-position: center center;
        background-size: 105% auto;
        border-radius: 50%;}

    .storyTest {
        width: 10vw;
        height: 10vw;}

    .landscapeStoryTest {
        width: 6vw;
        height: 6vw;}

    .storyWrapper {
        margin: 0 2vw 0 0;}

    .landscapeStoryWrapper {
        margin: 0 1vw 0 0;}

    .storyWrapper p {
        padding: 1vw 0;
        font-size: 15px;}

    .landscapeStoryWrapper p {
        padding: .3vw 0;
        font-size: 15px;}

    .litografiBataviaMain {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 90vh;
        background-color: white;}
    
    .litografiBataviaContainer, .landscapeLitografiBataviaContainer {
        padding: 10vh 0 0 0;
        width: fit-content;
        min-height: 90vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;}

    .litografiBataviaContainer {
        padding: 10vh 0 0 0;}

    .landscapeLitografiBataviaContainer {
        padding: 13vh 0 0 0;}
    
    .litografiImage, .landscapeLitografiImage {
        border: 1px solid rgb(41, 41, 41);
        width: 23vw;
        height: 17vw;}
    
    .caption, .landscapeCaption {
        width: 23vw;}
    
    .litografiAuthor h1 {
        font-size: 18px;}
    
    .litografiTitle p {
        font-size: 15px;
        margin: 0;
        padding: 1px 0 0 0;}
    
    .modalOverlay {
        display: flex;
        justify-content: center;
        align-items: center;}

/* Modal Portrait */
    
    .litografiModal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        height: fit-content;
        background-color: white;}

    .test2 {
        display: flex;
        flex-direction: column;
        align-items: center;}

    .litografiModal img {
        width: 100%;
        height: auto;}

    .modalImageContainer {
        min-height: 25vh;}

    .modalTitle {
        width: 95%;
        padding: 2vw 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
        scrollbar-width: thin;}

    .modalTitleWrapper {
        width: 85%;
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: thin;}
    
    .modalTitleWrapper h1 {
        scrollbar-width: thin;
        overflow-x: auto;
        width: fit-content;}

    .modalTitle img {
        width: 5vw;
        height: 5vw;}

    .litografiSource {
        width: 95%;}

    .litografiSource img {
        padding: 0 1vw 0 0;
        width: 5vw;
        height: auto;}

    .litografiSource p {
        font-size: 25px;
        margin: 0;}

    .modalContent {
        width: 95%;
        padding: 2vw 0 4vw 0;}

    .modalContent p {
        margin: 0;
        font-size: 25px;}

/* Modal Landscape */

    .landscapeLitografiModal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: fit-content;
        background-color: white;}

    .landscapeTest {
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: center;}

    .landscapeTest2 {
        width: 45%;
        height: 100%;
        padding: 15% 2.5% 0 2.5%;
        display: flex;
        margin: 5vw 0;
        flex-direction: column;}

    .landscapeModalImageContainer {
        width: 50%;
        height: 75vh;
        display: flex;
        align-items: center;}

    .landscapeModalImageContainer img {
        width: 100%;
        height: auto;}

    .landscapeModalTitle {
        position: absolute;
        right: 0;
        width: 45%;
        padding: .5vw 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;}

    .landscapeModalTitle h1 {
        font-size: 18px;
        width: 100%;}

    .landscapeModalTitle img {
        width: 2.5vw;
        height: 2.5vw;}

    .landscapeLitografiSource {
        width: 95%;}

    .litografiSource, .landscapeLitografiSource {
        display: flex;
        flex-direction: row;
        align-items: center;}

    .landscapeLitografiSource img {
        width: 2vw;
        height: auto;
        padding: 0 .5vw 0 0;}

    .landscapeLitografiSource p {
        font-size: 18px;
        margin: 0;}

    .landscapeModalContent {
        width: 95%;
        padding: 1vw 0 4vw 0;}

    .landscapeModalContent p {
        margin: 0;
        font-size: 18px;}

/* Profile Portrait */

    .authorBio {
        display: flex;
        flex-direction: column;
        align-items: center;}

    .bioWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;}

    .profileContainer{
        display: flex;
        flex-direction: column;
        align-items: center;}

    .profileHeader {
        width: 100%;
        height: 10vw;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;}

    .backButton, .authorNickName, .landscapeAuthorNickname, .landscapeBackButton {
        display: flex;
        justify-content: center;
        align-items: center;}

    .backButton {
        width: 15%;}

    .backButton img {
        width: 6vw;
        height: 6vw;}

    .authorNickName {
        width: 70%;}

    .bioProfile {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 4vw 0;}

    .authorBio {
        width: 90%;
        display: flex;
        flex-direction: column;}

    .bioProfile, .landscapeBioProfile {
        display: flex;
        flex-direction: row;}

    .bioDescription h2 {
        padding: 0 0 2vw 0;}

    .bioProfile span {
        border: 1px solid black;
        width: 20vw;
        height: 20vw;
        border-radius: 50%;
        margin: 0 4vw 0 0;}

    .activeYear, .landscapeActiveYear {
        border-radius: 20px;
        font-weight: bold;}

    .authorName {
        text-align: center;
        width: calc(100vw - (58vw + 4px));
        margin: 0 0 2vw 0}

    .bioDescription h1, .authorName {
        font-size: 35px;}

    .bioDescription h2, .activeYear {
        font-size: 28px;}

    .bioDescription p {
        font-size: 26px;}

    .bioDescription {
        padding: 0 0 4vw 0;}

    .authorWork {
        width: 100%;}

    .workPanel {
        border-top: 1px solid black;
        width: 100%;
        height: 10vw;
        display: flex;
        flex-direction: row;}

    .activeBar {
        width: 100%;
        height: 1.5vw;}

    #selected {
        background-color: black;}

    #notSelected {
        background-color: #ffffff;}

    .bataviaPanel, .nonBataviaPanel, .landscapeBataviaPanel, .landscapeNonBataviaPanel {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;}

    .bataviaPanel img, .nonBataviaPanel img {
        margin-top: 1.5vw;
        width: 5vw;
        height: 5vw;}

    .work {
        width: 100%;}

    .feedThumbnailImage {
        width: 33.33vw;
        height: 33.33vw;}

/* Profile Landscape */

    .landscapeBioWrapper {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;}

    .landscapeProfileContainer{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;}

    .landscapeProfileHeader {
        height: 5vw;
        width: 100%;
        border-bottom: 1px solid black;
        display: flex;
        flex-direction: row;}

    .landscapeBackButton {
        width: 10%;}

    .landscapeBackButton img {
        width: 3vw;
        height: 3vw;}

    .landscapeAuthorNickname {
        width: 80%;}

    .landscapeAuthorBio {
        height: calc(100vh - 8vw);
        overflow-y: scroll;
        width: 45%;
        padding: 2.5% 2.5% 0 2.5%;
        display: flex;
        flex-direction: column;}

    .landscapeAuthorName {
        margin: 0 0 .5vw;}

    .landscapeBioDescription p {
        overflow-y: scroll;
        margin: 1vw 0 0 0;}

    .landscapeBioProfile span {
        width: 10vw;
        height: 10vw;
        border: 2px solid black;
        border-radius: 50%;
        margin: 0 2vw 2vw 0;}

    .landscapeAuthorWork {
        right: 0;
        position: absolute;
        width: 50%;}

    .landscapeWorkPanel {
        width: 100%;
        height: 5vw;
        display: flex;
        flex-direction: row;}

    .landscapeActiveBar {
        width: 100%;
        height: .5vw;}

    .landscapeBataviaPanel img, .landscapeNonBataviaPanel img {
        margin-top: 1vw;
        width: 2.5vw;
        height: 2.5vw;}

    .landscapeWork {
        height: calc(100vh - 10vw - 2px);
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        padding: 0 0;}

    .workContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;}

    .landscapeFeedThumbnailImage {
        width: 16.66vw;
        height: 16.66vw;}

    .bioDescription p {
        font-size: 23px;}

        @media only screen and (max-width: 1080px) {
            
            .landscapeStoryTest {
                width: 8vw;
                height: 8vw;}}

        @media only screen and (max-width: 990px) {
            
            .litografiBataviaContainer, .landscapeLitografiBataviaContainer {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-gap: 10px;}

            .litografiImage, .landscapeLitografiImage {
                width: 32vw;
                height: 25vw;}

            .storyWrapper p {
                font-size: 14px;}
        
            .landscapeStoryWrapper p {
                font-size: 11px;}

            .modalTitle h1 {
                font-size: 25px}}

    
        @media only screen and (max-width: 916px) {
            
            .landscapeAuthorNickname h1, .landscapeAuthorName {
                font-size: 22px;}

            .landscapeActiveYear {
                font-size: 15px;}

            .landscapeBioDescription h1 {
                font-size: 22px;}
            
            .landscapeBioDescription h2 {
                font-size: 19px;
                padding: 0 0 3px 0;}

            .landscapeBioDescription p {
                font-size: 15px;}

            .litografiAuthor h1 {
                font-size: 13px;}

            .litografiTitle p {
                font-size: 11px;}

            .landscapeTest {
                height: 80vh;}
            
            .landscapeModalTitle h1 {
                    font-size: 16px;}
            
            .landscapeModalTitle img {
                width: 3.5vw;
                height: 3.5vw;}
            
            .landscapeLitografiSource p {
                font-size: 15px;}
            
            .landscapeModalContent p {
                font-size: 15px;}}

        @media only screen and (max-width: 800px) {

            .landscapeStoryWrapper p {
                font-size: 9px;}
                    
            .litografiAuthor h1 {
                font-size: 13px;}
            
            .litografiTitle p {
                font-size: 10px;} }

        @media only screen and (max-width: 700px) {
            
            .landscapeAuthorNickname h1, .landscapeAuthorName, .landscapeBioDescription h1 {
                font-size: 18px;}

            .landscapeActiveYear, .landscapeBioDescription h2 {
                font-size: 14px;}

            .landscapeBioDescription p {
                font-size: 14px;}

            .litografiSource p {
                font-size: 16px;}
        
            .modalContent p {
                font-size: 18px;}
                
            .landscapeModalTitle h1 {
                font-size: 14px;}
            
            .landscapeModalTitle img {
                width: 3.5vw;
                height: 3.5vw;}
            
            .landscapeLitografiSource p {
                font-size: 13px;}
            
            .landscapeModalContent p {
                font-size: 13px;}}
                    
        @media only screen and (max-width: 500px) {

            .litografiBataviaContainer {
                padding: 10vh 0 0 0;
                width: 94vw;
                position: relative;
                display: flex;
                flex-direction: column;}

            .storyTest {
                width: 15vw;
                height: 15vw;}

            .landscapeActiveYear p {
                font-size: 11px;}
                            
            .litografiImage {
                width: 94vw;
                height: 74vw;}

            .litografiSource p {
                font-size: 13px;}

            .modalContent p {
                font-size: 15px;}

            .landscapeLitografiBataviaContainer {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                grid-gap: 10px;}

            .landscapeLitografiImage {
                width: 32vw;
                height: 25vw;}
                    
            .caption {
                width: 94vw;}

            .modalTitle img {
                width: 6vw;
                height: 6vw;}
                    
            .modalTitle h1, .bioDescription h1, .authorNickName h1, .activeYear {
                font-size: 15px;}

            .authorName {
                font-size: 20px;}
                        
            .bioDescription h2, .bioDescription p {
                font-size: 14px;}
                    
            .litografiAuthor h1 {
                font-size: 15px;}
                            
            .litografiTitle p {
                font-size: 13px;
                margin: 0;} 

            .storyWrapper p {
                font-size: 11px;}
                            
            .landscapeStoryWrapper p {
                font-size: 11px;}
                            
/* ////////////////////////////////////////////////////////////////////////////////////////////// */
                            
            .profileHeader {
                height: 10vw;}
                            
            .backButton img {
                width: 6vw;
                height: 6vw;}
                
            .authorNickName {
                width: 70%;}
                
            .bioProfile {
                padding: 4vw 0;}
                
            .bioProfile img {
                width: 20vw;
                height: 20vw;
                border-radius: 50%;
                margin: 0 4vw 0 0;}
                
            .activeYear {
                border-radius: 20px;}
                
            .bioDescription {
                padding: 0 0 4vw 0;}
                
            .authorWork {
                width: 100%}
                
            .work {
                width: 100%;}
                
            .workContainer {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;}
                
            .landscapeAuthorNickname h1, .landscapeAuthorName, .landscapeBioDescription h1 {
                font-size: 13px;}
        
            .landscapeActiveYear, .landscapeBioDescription h2 {
                font-size: 12px;}
        
            .landscapeBioDescription p {
                font-size: 12px;}}                     
                    
                    
    @media only screen and (max-width: 376px) {

            .storyWrapper p {
                font-size: 9px;}

            .landscapeStoryWrapper p {
                font-size: 8px;}
            
            .bioDescription h1, .authorNickName h1, .activeYear {
                font-size: 15px;}
    
            .authorName {
                font-size: 18px;}
                            
            .bioDescription h2, .bioDescription p {
                font-size: 14px;}
                    
            .modalTitle h1 {
                font-size: 13px;}
                    
            .litografiAuthor h1 {
                font-size: 13px;}
                    
            .litografiTitle p {
                font-size: 12px;}
                                        
            .modalTitle img {
                width: 6vw;
                height: 6vw;}
                                        
            .litografiSource p {
                font-size: 11px;}
                                        
            .modalContent p {
                font-size: 13px;}}
                    
        @media only screen and (max-width: 330px) {

            .bioDescription h1, .authorNickName h1, .activeYear {
                font-size: 12px;}
    
            .authorName {
                font-size: 14px;}
                            
            .bioDescription h2, .bioDescription p {
                font-size: 11px;}

            .story {
                padding: 7.5px 0 15px 0;}
                                        
            .litografiSource p {
                font-size: 10px;}
                                        
            .modalContent p {
                font-size: 12px;}}